{% extends 'base.html.twig' %}

{% block title %}Hello InscriptionController!{% endblock %}
 {% block stylesheets %} 
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link rel="stylesheet" href="{{asset('assets/css/signup.css')}}">
            <link rel="stylesheet" href="{{asset('assets/css/style.css')}}">
        {% endblock %}

{% block body %}
<style type="text/css">
a:link
{
text-decoration:none;
}
</style>
        <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">Navigation</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto ">
                   <li class="nav-item active">
                    <a class="nav-link " href="{{path('acceuil')}}">Acceuil</a>
                </li>
                {% if not app.user %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{path('inscription')}}">Inscription</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link " href="{{path('connexion')}}">Connexion</a>
                </li>
                {% else %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{path('deconnexion')}}">Deconnexion</a>
                </li>
                   {% if app.user.prenom is defined %}
                <li class="nav-item active connect">
                   <div class="dropdown ">
                        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               Bonjour {{app.user.prenom}}
                        </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="{{path('account_profil')}}">Modifier profil</a>
                                <a class="dropdown-item" href="#">Voir profil</a>
                                <a class="dropdown-item" href="{{path('modifPassword')}}">Changer mot de passe</a>
                        </div>
                    </div>
                </li>{% endif %}
                {% endif %}
            </ul>
        </div>

    </nav>
    <div class="d-flex justify-content-center h-100">
		<div class="card test">
			<div class="card-header">
                <div class="card-body">
                <div class="login-box min-height">
              {{ form_start(form, { 'attr' : { 'class': 'login-form textColor'} }) }}
              <h3>Sign Up</h3>
              <div class="form-group">
              {{ form_row(form.nom, {'label': 'Nom', 'attr' : { 'class': 'form-control control-label', 'placeholder' : 'Nom' } }) }}
              </div>
              <div class="form-group">
              {{ form_row(form.prenom, {'label': 'Prénom', 'attr' : { 'class': 'form-control control-label', 'placeholder' : 'Prénom' } }) }}
              </div>
                <div class="form-group">
              {{ form_row(form.mdp, {'label': 'Mot de passe', 'attr' : { 'class': 'form-control control-label', 'placeholder' : 'Mot de passe' } }) }}
              </div>
              <div class="form-group">
              {{ form_row(form.email, {'label': 'Adresse email', 'attr' : { 'class': 'form-control control-label', 'placeholder' : 'email' } }) }}
              </div>
               <div class="form-group">
              {{ form_row(form.mobile, {'label': 'mobile', 'attr' : { 'class': 'form-control control-label', 'placeholder' : 'mobile' } }) }}
              </div>
              <div class="form-group">
              {{ form_row(form.adresse, {'label': 'adresse', 'attr' : { 'class': 'form-control control-label', 'placeholder' : 'adresse' } }) }}
              </div>
              <div class="form-group">
              {{ form_row(form.idVille, {'label': 'ville', 'attr' : { 'class': 'form-control control-label', 'placeholder' : 'ville' } }) }}
              </div>
              <br>
              <div class="form-group">
                <div class="form-group btn-container"><button type="submit" class="btn btn-primary btn-block boutton1"><i class="fa fa-sign-in fa-lg fa-fw"></i>S'inscrire</button></div>
              </div>
              <div class="form-group">
                <a href="{{path('connexion')}}"><div class="btn btn-primary btn-block boutton1">Se connecter</div></a> 
              </div>
              <br>
              <br>
              <br>
              {{ form_end(form)}}
          </div>
        </div>
        </div>
    </div>
    
{% endblock %}
  